@model TestApp.Models.ProductCategoryViewModel

    
@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-3">
    <form method="post" asp-action="Index">
        <!-- Search Bar --->
        <div>
            <input type="text" name="searchQuery" placeholder="Product Name" />
        </div>

        <!-- Filter Options -->
        <div>
            <label for="categoryFilter">Filter by Category:</label>
            <select name="categoryFilter" id="categoryFilter">
                <option value="">All Categories</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Sys.Id">@category.Name</option>
                }
            </select>
        </div>

        <input type="submit" value="Submit" />
    </form>
</div>


<div class="row">
@foreach (var product in Model.Products)
{
    <div class="col-md-4">
        <div class="card product-card">
            @if (product.Image != null && product.Image.File != null)
            {
                <img src="@product.Image.File.Url" class="card-img-top" alt="Product Image">
            }
            else
            {
                <!-- Placeholder image or a message indicating no image is available -->
                <img src="../wwwroot/images/no image.jpg" class="card-img-top" alt="Default Image">
            }
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>

                <p class="category">Category: @product.Category.Name</p>
                @* <p class="card-text">@product.Description</p> *@
                <p class="card-text">Price: @product.Price</p>
                <p class="button">
                    <a asp-controller="Home" asp-action="Content" asp-route-id="@product.Sys.Id" class="btn btn-primary" role="button">More about the product</a>
                </p>
            </div>
        </div>
    </div>
}
</div>


